@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Dancing+Script:wght@700&family=Noto+Sans&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* border:1px solid red; */
}



.container{
    width:100%;
    height:auto;
    background-color: rgb(230,229,230);
}

.navbar{
    width:100%;
    height:100px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding-inline:100px;
}

.left{
    width:40%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    
}

.left h2{
    font-size:20px;
}

.left ul{
    width:400px;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.left ul li{
    list-style:none;
}

.right button{
    width:150px;
    height:50px;
    border:none;
    background-color:orange;
    border-radius:30px;
    border:1px solid black;
}

.page{
    width:100%;
    height:auto;
    display: flex;
}

.page-1{
    width:60%;
    height:auto;
    padding-inline:100px;
    padding-block:30px;
}

.page-1 h1{
    font-size:90px;
    font-family: 'Caveat', cursive;
    /* font-weight:; */
}

.page-1 span{
    width:500px;
    margin-block:50px;
}

.page-1 span{
    display:flex;
    align-items: center;
    justify-content: space-between;
   
}

.page-1 span button{
    width:230px;
    height:60px;
    background-color:black;
    color:white;
    font-size:15px;
    border:none;
    border-radius:5px;
    
   

}

#span-1{
    width:600px;
}

.page-1 span h2{
    font-size:60px;
    width:340px;
    

}

.page-1 span p{
    font-size:15px;
    
}

.page-2{
    width:40%;
    height:auto;
    display:flex;
    align-items:center;
    justify-content: center;
    /* padding:4%; */
}

.page-2 img{
    /* width:100%;
    height:90%; */
}


@media (max-width:768px){
    .container{
        width:100%;
        height:auto;
    }

    .navbar{
        width:100%;
        height:auto;
        padding:2%;
        
    }
    
    .left{
        width:70%;

    }

    /* .left h2{

    }

    .left ul{

    } */

    .left ul li{
        font-size:13px;
    }

    .right button{
        width:150px;
        height:45px;
        border-radius:25px;
    }

    .page{
        flex-direction:column;
    }

    .page-1{
        width:100%;
        height:auto;
        padding:10%;
    }

    .page-1 h1{
        text-align: center;
    }

    .page-1 span{
        width:100%;
    }

    .page-1 span button{
        width:230px;
        height:60px;
        font-size:15px;
        border-radius:5px;
    }

    #span-1{
        width:100%;
    }

    /* .page-1 span h2{

    }

    .page-1 span p{

    } */

    .page-2{
        width:100%;
        height:auto;
        padding:20%;
    }

    .page-2 img{
        width:100%;
        height:100%;
    }
    


}



@media (max-width:480px){
    .container{
        width:100%;
        height:auto;
    }

    .navbar{
        width:100%;
        height:auto;
        padding:2%;
        
    }
    
    .left{
        width:50%;

    }

    .left h2{

    }

    .left ul{
        display:none;

    }

    .left ul li{
        font-size:13px;
    }

    .right button{
        width:120px;
        height:45px;
        border-radius:25px;
    }

    .page{
        flex-direction:column;
    }

    .page-1{
        width:100%;
        height:auto;
        padding:5%;
    }

    .page-1 h1{
        font-size:50px;
        text-align: center;
    }

    .page-1 span{
        width:100%;
        flex-direction:column;
    }

    .page-1 span button{
        width:200px;
        height:50px;
        font-size:12px;
        border-radius:5px;
        margin-block:10px;
    }

    #span-1{
        width:100%;
    }

    .page-1 span h2{
        width:100%;
        text-align: center;
       
    }

    .page-1 span p{
       font-size:15px;
       text-align: center;
    }

    .page-2{
        width:100%;
        height:auto;
        padding:5%;
    }

    .page-2 img{
        width:100%;
        height:100%;
    }
    


}